/*
	modublog App
*/
#blog_wrap a {display:inline-block}
/* all */
input[type=text],
input[type=password],
select {border:0;outline:none;box-shadow:none;font-size:12px !important;box-sizing:border-box;padding:0 13px;height:44px;font-family:NotoSansCKJ-Medium;font-family:NotoSansCKJ}
input::placeholder {color:#989898 !important}
/* color | text */
.txt_ov {overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.txt_ov_m {overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;display: -webkit-box} 
.title {font-family:NotoSansCKJ-Bold}
.title_sub {font-family:NotoSansCKJ-Medium}
.bk_white {background:#fff !important}
.bk_white_li {background:#fff !important;height:100%}
.bk_b {background:#88cbde}
.bk_s {background:#edaf07}
.bk_gray {background:#ececec !important}
.color_blog {color:#88cbde !important}
.color_sns {color:#edaf07 !important}
.color_share {color:#ed0707 !important}
.btn_wrap {overflow:hidden;margin:20px 0;}
.btn_wrap a {display:block;text-align:center;height:48px;line-height:48px;font-size:12px;border-radius:4px;overflow:hidden}
.btn_tp1 {color:#88cbde;border:1px solid #ebebeb;border-radius:4px !important;overflow:hidden;width:62px;height:26px;line-height:26px;text-align:center;font-size:10px;position:absolute;right:16px;top:50%;margin-top:-13px;background:#fff}
/* 버튼 */
#header {position:relative;background:#fff;height:44px;line-height:44px;border-bottom:1px solid #dcdcdc;text-align:center}
#header h1 {font-size:14px;font-weight:normal}
.header_btn_l {position:absolute;top:0;left:0;width:45px;height:45px;overflow:hidden;text-indent:-9999px}
.header_btn_r {position:absolute;top:0;right:0;width:45px;height:45px;overflow:hidden;text-indent:-9999px}
.btn_back {background:url(../img/icon_back.png)no-repeat;background-size:17px 17px;background-position:50% 50%}
.btn_back_w {background:url(../img/icon_back_w.png)no-repeat;background-size:17px 17px;background-position:50% 50%}
.btn_search2 {background:url(../img/icon_search_bl.png)no-repeat;background-size:17px 17px;background-position:50% 50%}
.btn_help {background:url(../img/icon_help.png)no-repeat;background-size:17px 17px;background-position:50% 50%}
/* 기타 */
.ct_wrap {background:#fff;border-bottom:1px solid #d8d8d8;margin-bottom:10px}
.icon_secret {position:absolute;top:2px;right:18px;width:12px;height:12px}
.icon_secret2 {position:absolute;top:-10px;right:18px;width:12px;height:12px}
.add_photo_b {position:relative}
.add_photo_b .btn_add_photo {display:inline-block;width:50px;height:50px;border:1px solid #b5b5b5;border-radius:4px;overflow:hidden;text-indent:-9999px;background:url(../img/icon_add.png)no-repeat center;background-size:16px 16px;background-position:50% 50%}
.add_photo_b input {position:absolute;top:0;left:0;display:block;width:48px;height:48px;opacity:0;cursor:pointer}
.add_photo_b .preview_photo {position:absolute;top:0;display:inline-block;width:50px;height:50px;border:1px solid #c6c6c6;border-radius:4px;overflow:hidden;margin-left:10px;background:#eee}
.tab_mn {overflow:hidden;width:100%;background:#fff}
.tab_mn li {float:left;width:33.3%;border-bottom:1px solid #aeaeae}
.tab_mn li.on {border-bottom:1px solid #88cbde}
.tab_mn li.l_s.on {border-bottom:1px solid #edaf07}
.tab_mn li a {display:block;text-align:center;font-size:12px;padding:13px 0 12px;border-bottom:3px solid #fff}	
.tab_mn li.on a.t_s {border-bottom:3px solid #edaf07}
.tab_thr li {width:33.3%}
.tab_two li {width:50%}
.ex_info {font-size:12px;padding:30px 0;text-align:center;color:#797979}
#loading {position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;z-index:9999}
#loading #load_gif {position:absolute;top:50%;left:50%;width:150px;height:99px;margin-top:-49px;margin-left:-75px}
#loading #load_gif img{width:100%;height:100%;vertical-align:top}
/* 댓글 */
#wr_secret,
#wr_secret_r {display:none}
.comment_re input[type=checkbox] + label span {position:absolute;top:0px;right:0;width:13px;height:13px;border:1px solid #c6c6c6;border-radius:4px;overflow:hidden;}
.comment_re input[type=checkbox]:checked + label span {background:url(../img/icon_check.png)no-repeat;background-size:15px 15px;border:none;width:15px;height:15px}
.comment_re2 input[type=checkbox] + label span {position:absolute;top:-12px;right:0;width:13px;height:13px;border:1px solid #c6c6c6;border-radius:4px;overflow:hidden;}
.comment_re2 input[type=checkbox]:checked + label span {background:url(../img/icon_check.png)no-repeat;background-size:15px 15px;border:none;width:15px;height:15px}
.comment_re_dp {padding-left:28px;background:url(../img/curved_arrow.png)no-repeat left center;background-size:15px 15px}
/* popup */
#popup {width:90%;margin:0 5%;position:absolute;top:50%;margin-top:-210px;z-index:999;display:none}
#popup #pop_cont {background:#fff;border-radius:0.4em;overflow:hidden;padding:0 16px}
#popup .pop_cont_txt {height:300px;overflow-y:auto}
#popup #pop_cont p {font-size:15px;text-align:center;border-bottom:1px solid #ebebeb;padding:16px 0}
#popup #pop_cont div {padding:16px 0;font-size:11px;color:#707070}
#popup #btn_close {position:relative;height:16px;padding:0 4px 10px}
#popup #btn_close a {position:absolute;right:0;top:0;width:16px;height:16px;background:url(../img/icon_cancle.png)no-repeat;background-size:16px 16px;}
#mask {position:absolute;top:0;left:0;width:100%;height:100%;background:#000;z-index:99;opacity:.5;display:none;overflow-y:}

/* 메인 */
.btn_t_l {position:fixed;top:10px;left:10px}
.btn_t_r {position:absolute;top:10px;right:10px}
.btn_t_bk {width:30px;height:30px;text-indent:-9999px;z-index:2}
.btn_nav {background:url(../img/icon_nav.png)no-repeat;background-size:20px 20px;background-position:50% 50%}
.btn_close_on {position:absolute;background:url(../img/icon_cancle_on.png)no-repeat;background-size:16px 16px;background-position:50% 50%}
.btn_search {background:url(../img/icon_search.png)no-repeat;background-size:20px 20px;background-position:50% 50%}
.btn_search_on {background:url(../img/icon_search_on.png)no-repeat;background-size:20px 20px;background-position:50% 50%}
.main_bann {position:relative;width:100%;overflow:hidden}
.main_bann_nav {position:absolute;right:13px;bottom:13px;z-index:2}
.main_bann_img {position:relative;z-index:1}
.main_bann_img > img {width:100%;height:100%;vertical-align:top}
.bann_txt {position:absolute;left:16px;bottom:25px;z-index:2;text-align:left}
.bann_txt > p {color:#fff;font-size:18px}
.bann_txt > span {color:#fff;display:inline-block;font-size:12px}
.sub_bann {position:relative;width:100%;overflow:hidden;margin-top:10px}
.sub_bann_nav {position:absolute;width:30px;bottom:0px !important;left:50%;margin-left:-15px;text-align:center}
.sub_bann_img {position:relative;z-index:1}
.sub_bann_img > img {width:100%;vertical-align:top}

.main_list {margin-top:10px;background:#fff;padding:16px 0;border-top:1px solid #f8f8f8;border-bottom:1px solid #d5d5d5;overflow:hidden;position:relative}
.main_list > h1 {font-size:13px;padding:0 16px 10px}
.main_list .item {float:left;width:119px;text-align:left;margin-right:10px;position:relative;line-height:normal}
.main_list .item .item_img {position:relative;width:119px;height:119px;border:1px solid #d7d6d7;border-radius:6px;overflow:hidden}
.main_list .item .item_img > img {width:100%;position:absolute;top:0;left:0;margin:auto;bottom:0;right:0}
.main_list .item.event_c {width:146px}
.main_list .item.event_c .item_img {width:146px;height:120px}
.main_list .item .item_txt {padding-top:10px;overflow:hidden}
.main_list .item .item_txt > p > span,
.main_list .item .item_txt > span {display:inline-block}
.main_list .item .item_txt p {height:22px}
.main_list .item .item_txt .sub_title {font-size:11px;height:18px;line-height:18px;max-width:119px}
.main_list .item.event_c .item_txt .sub_title,
.main_list .item.event_c .item_txt .item_view {max-width:146px;padding-left:0}
.main_list .item .item_txt .sub_txt {float:left;font-size:9px;color:#797979;display:block}

.item_a {display:inline-block}
.item_view {color:#797979;padding-left:4px}
.swiper-wrapper .item:first-child {padding-left:16px}
/*.ca_wrap {height:28px;position:relative;padding-bottom:5px;border-bottom:1px solid #e9e9e9}*/
.ca_wrap {height:28px;position:relative;padding-bottom:5px}
.pd_wrap {height:166px}
.ca_wrap .category {padding:0 16px}
.ca_wrap .category a {font-size:9px;color:#707070;margin-right:4px;background:#fff;border-radius:20px;display:inline-block;line-height:26px;width:40px;text-align:center}
/*.ca_wrap .category a span {padding:0 8px}*/
/*.ca_wrap .category a {font-size:9px;color:#707070;padding:6px 8px;margin-right:4px;background:#fff;border-radius:20px;overflow:hidden;display:inline-block}*/
.ca_wrap .category a:last-child {margin-right:0} 
.ca_wrap .category a.on {color:#fff}
.ca_wrap .category.blog_c a.on {background:#88cbde}
.ca_wrap .category.sns_c a.on {background:#edaf07}

.loader_wrap {height:166px;position:relative;width:100%}
.loader_wrap img {position:absolute;top:50%;left:50%;width:38px;height:32px;margin-top:-16px;margin-left:-19px}

/* 블로그 | SNS 홈 | 나의체험단 리스트 */
.home_list {background:#fff;margin-top:10px}
.home_category {padding:2px 8px 6px;border-bottom:1px solid #efefef}
.home_category a span {display:inline-block;font-size:12px;color:#ccc;width:40px;text-align:center;margin-right:5px}
.home_category a span:last-child {margin-right:0}
.home_category.blog_ct a.on span {color:#88cbde}
.home_category.sns_ct a.on span {color:#edaf07}
.home_list li {border-bottom:1px solid #e9e9e9}
.list_item {overflow:hidden;height:115px;position:relative;padding-left:125px}
.list_item .list_item_img {position:absolute;left:0;width:125px;top:0;height:115px}
.list_item .list_item_img  > img {width:100%;height:100%;vertical-align:top}
.list_item .list_item_txt {padding:20px 10px}
.list_item .list_item_txt .title {font-size:13px}
.list_b {width:100%;height:99%;border-bottom:1px solid #e9e9e9}
.conts {color:#343434;font-size:11px;display:inline-block;line-height:18px;width:96%}
.conts_info {font-size:9px;color:#797979;position:absolute;bottom:20px;left:135px}
.conts_info > span,
.conts_info .info_title > span
 {color:#797979}
/*.conts_info .info_title {width:54px;display:inline-block}*/
.conts_info .info_title {display:inline-block;margin-right:4px}
.conts_info .info_title > span:first-child {padding-right:4px}
#my_list li {position:relative;border-bottom:none}

/* input */
.dv_input {border:1px solid #c6c6c6;border-radius:4px;overflow:hidden}
.dv_input input[type=text],
.dv_input input[type=password] {width:100%;height:50px}
.dv_input select {outline:none;width:100%;height:50px !important;border:none;padding:0 13px;box-sizing:border-box;font-size:11px;color:#b5b5b5}

/* 로그인 */
.log_wrap {min-height:100%;position:relative;margin-bottom:-40px;padding-bottom:40px}
.log_info1 .sub_p_txt {line-height:18px}
.log_info1 {position:relatvie;height:100%;background:#fff;padding:0 16px}
.dv_input .input_txt2,
.dv_input .input_txt3 {border-top:1px solid #ebebeb}
.log_info2 {text-align:center;font-size:11px;padding:30px 16px}
.p_txt {font-size:12px;padding:24px 0 30px;text-align:center;font-family:NotoSansCKJ-Bold}
.btn_ok {height:50px;line-height:50px}
.btn_ok a {background:#f4f4f4;color:#c6c6c6;border:1px solid #c6c6c6;}
.btn_ok a.on {background:#88cbde;color:#fff;border:1px solid #88cbde;}
.btn_pw a {border:1px solid #c6c6c6;background:#fff}
.log_footer {position:absolute;bottom:0px;left:0;width:100%;height:60px;color:#909090;font-size:11px;text-align:center}
.n_ov_f {position:relative !important}

/* 회원가입 | 광고문의 | 신청 | 리뷰등록 register */
.m_reg_li {background:#fff;margin-bottom:8px}
.m_reg_li li {padding:0 16px 22px}
.m_reg_li li:first-child {padding-top:22px}
.m_reg_li li .title {font-size:12px;padding-bottom:13px;display:block}
.conf_input {position:relative;}
.conf_input input {padding-right:80px}
.conf_input .conf_stat {position:absolute;top:50%;right:8px;width:58px;height:28px;line-height:28px;margin-top:-14px;color:#fff;background:#88cbde;font-size:11px;text-align:center;border-radius:4px;overflow:hidden;font-family:NotoSansCKJ}
.btn_conf {padding:0 !important;background:#f4f4f4 !important;border:1px solid #c6c6c6;color:#b0b0b0 !important}
.conf_n {padding:0;background:#ef5350;border:1px solid #ef5350;color:#fff}
.conf_txt {font-size:11px;padding:5px 0 0 4px;color:#f15151}
.gender_input {width:50%;float:left}
.gender_input input[type=radio] {display:none}
.gender_input input[type=radio] + label span {text-align:center;display:block;font-size:11px;line-height:44px;color:#989898}
.gender_input input[type=radio]:checked + label span {background:#88cbde;color:#fff}
.terms_wrap {padding:22px 16px}
.terms_wrap .title {font-size:12px;padding-bottom:20px}
.terms_all {padding-bottom:0 !important}
.terms_all p {font-size:10px}
.terms_use {position:relative;padding-right:30px;font-size:11px;padding-bottom:20px}
.terms_use:last-child {padding-bottom:0 !important}
.terms_use .ct {color:#88cbde;padding-right:5px}
.terms_use a {text-decoration:underline}
.terms_use input[type=checkbox] {display:none}
.terms_use input[type=checkbox] + label span {position:absolute;top:0;right:0;width:13px;height:13px;border:1px solid #747474;border-radius:4px;overflow:hidden}
.terms_use input[type=checkbox]:checked + label span {background:url(../img/icon_check.png)no-repeat;background-size:15px 15px;border:none;width:15px;height:15px}
.tel_input input,
.tel_input select {width:80px;border:1px solid #c6c6c6;float:left;border-radius:4px;overflow:hidden}
.tel_input em {float:left;display:inline-block;line-height:40px;margin:0 4px}
#btn_zip {margin-top:0;top:8px}
.bottom_txt {text-align:center;font-size:11px;color:#717171;padding-top:10px}
.bottom_txt.bt_footer {font-size:10px;color:#909090}
.m_b input[type=text] {height:44px}
.em_b {margin:13px 0;border-top:1px solid #ebebeb;display:block;height:1}
.reg_btn {padding:0 16px 20px}
.reg_t_sub {font-size:10px;color:#989898}

/* 회원정보 수정 */
.m_profile_box {position:relative;border-bottom:1px solid #d5d5d5}
.m_profile_box .profile_info {height:112px}
.m_profile_box .profile_info p {padding-top:50px;text-align:center;font-size:12px}
.m_profile_box .profile_info span {display:block;text-align:center;color:#9e9e9e;font-size:10px}
.m_profile_box .btn_add_img {width:30px;height:30px;border-radius:50%;overflow:hidden;position:absolute;background:#fff;z-index:3;box-shadow:0px 1px 3px 0px rgba(0,0,0,0.3);}
.m_profile_box #img_box1 {position:relative;width:100%;height:150px}
.m_profile_box .btn_add_img input[type=file] {width:100%;height:100%;background:url(../img/icon_photo.png)no-repeat center;text-indent:-9999px;background-size:14px 14px}
.m_profile_box #img_box1 .btn_add_img {bottom:16px;right:16px}
.m_profile_box #img_box2 {position:absolute;width:102px;height:103px;left:50%;margin-left:-51px;bottom:80px;z-index:2}
.m_profile_box .btn_add_img {bottom:0px;right:0px}
.m_profile_box .profile_img_b {width:100%;height:100%;background:#fff;overflow:hidden;border-radius:50%;display:block;position:relative}
.m_profile_box .profile_img_b .profile_img {position:relative;width:100%;height:100%}
.m_profile_box .profile_img_b .profile_img img {width:100%;height:100%;position:absolute;top:0;left:0;bottom:0;right:0}
.bottom_mn {text-align:center;padding-bottom:20px}
.bottom_mn a {font-size:11px;color:#717171;padding:0 12px}
.bottom_mn span {font-size:11px;color:#b0b0b0}

/* 공지사항 | 커뮤니티 | 문의 목록 */
.list_wrap,
list_pn,
ui-page {background:#fff;height:100%}
.list_pn,
.list_pn_sd {padding:0 16px;background:#fff}
.list_pn li,
.list_pn_sd li {border-bottom:1px solid #ebebeb}
.list_pn li > a,
.list_pn_sd > a {display:block}
.list_pn li .list_txt,
.list_pn_sd li .list_txt {position:relative}
.list_pn li .btn_arrow_r,
.list_pn_sd li .btn_arrow_r {width:13px;height:14px;margin-top:-7px}
.list_pn li .list_txt {padding:12px 0}
.list_pn li .title_sub {font-size:11px;display:block;max-height:20px;width:80%;padding-bottom:2px}
.list_pn li .date_txt {font-size:10px;color:#9e9e9e;display:block;padding-top:2px} 
.list_pn li .btn_arrow_r {background:url(../img/icon_arrow_right.png)no-repeat;background-size:13px 14px}
.list_pn_sd li .title_sub {font-size:12px}
.list_pn_sd li .btn_arrow_r {background:url(../img/icon_arrow_bottom.png)no-repeat;background-size:13px 14px}
.list_pn_sd li.on  .btn_arrow_r{background:url(../img/icon_arrow_top.png)no-repeat;background-size:13px 14px}
.list_pn_sd li .list_txt p {height:48px;}
.list_pn_sd li .list_txt p span {font-size:12px;line-height:48px}
.answer {display:none;}
.answer img {max-width:100%}
.answer div,
.answer p {padding:13px;font-size:10px;background:#f6f6f6;margin-bottom:12px;border-radius:4px !important;overflow:hidden;}
.list_pn_sd li:last-child {border-bottom:}
.comu_li {position:relative;padding-left:40px}
.comu_li .list_txt {overflow:hidden}
.comu_li .list_txt .sub_txt {float:left;color:#9e9e9e;font-size:10px;padding-right:8px}
.comu_txt {padding:2px 0}
.comu_img {position:absolute;left:0;top:50%;margin-top:-16px;width:33px;height:33px;border-radius:50%;overflow:hidden}
.notice_conts {padding:16px}
.comment_txt {color:#88cbde;font-size:10px;right:0;line-height:20px;margin-top:-10px}
#image_wrap {max-width:100%;margin-top:10px}
.ps_r {position:absolute;right:0;top:50%;}

/* 공지사항 상세 */
.notice_view {font-size:12px;height:100%}
.notice_view div {padding:16px 22px;background:#fff}
.no_title {text-align:left;padding-left:45px}

/* 커뮤니티 상세 */
.comu_box {padding:16px 18px;position:relative}
.comu_view .comu_cate {display:block;font-size:14px}
.comu_view .comu_li {border-bottom:1px solid #ebebeb}
.comu_view .comu_li .list_txt {padding:18px 0}
.comu_view .comu_li .title_sub {font-size:11px}
.comment textarea {background:#fff;width:100%;height:90px;padding:10px;font-size:11px;resize:none;border:1px solid #c6c6c6;border-radius:4px;overflow:hidden;outline:none}
.comu_comment .btn_ok {margin-top:8px;margin-bottom:0}
.comu_conts {font-size:12px;padding-top:18px}
.comment_list {border-top:1px solid #d7d7d7}
.comment_list ul {padding-top:8px}
.comment_list li {border-top:1px solid #ebebeb}
.comment_title {overflow:hidden;position:relative;padding-left:25px;margin-top:5px}
.comment_title .title_sub {font-size:11px;display:inline-block;padding:10px 4px}
.comment_title .date_txt {font-size:10px;display:inline-block;padding:12px 0;color:#9e9e9e}
.comment_title .btn_comment {font-size:10px}
.comment_conts {font-size:12px;padding-bottom:13px}
.comment_img {width:24px;height:24px;border-radius:50%;overflow:hidden;position:absolute;top:50%;margin-top:-12px;left:0}
.comment_img img {width:100%;height:100%}
.comment_re222 {font-size:10px;display:inline-block;padding:13px 0}

/* 이벤트 목록 */
.event_list li > a {display:block;padding:0 16px}
.event_list li > a .list_conts {padding:22px 0 16px;border-bottom:1px solid #ececec}
.event_list li:last-child a .list_conts {border-bottom:none}
.event_list li .list_txt {position:relative}
.event_list li .btn_priz {position:absolute;right:0;top:50%;margin-top:-13px;}
.event_list li a .title_sub {font-size:11px;width:96%;height:18px}
.event_list li a .date_txt {display:block;font-size:10px;color:#9e9e9e}
.event_list li a .event_img {position:relative;padding-top:16px}
.event_list li a .event_img img {width:100%;vertical-align:top;z-index:1}
.end_mask {position:absolute;width:100%;height:100%;top:0;left:0;background:#fff;opacity:.6;z-index:2;text-indent:-9999px}
.event_img {position:relative;width:100%}
.event_img img {width:100%}

/* 마이페이지 */
.my_li {background:#fff;padding:0 16px}
.my_li li {border-bottom:1px solid #ebebeb}
.my_li li:last-child {border-bottom:none}
.my_li li a {position:relative;font-size:11px;display:block;height:48px;line-height:48px;background:url(../img/icon_arrow_right.png)no-repeat right 16px center;background-size:10px 10px}
.my_li li a span {position:absolute;top:0px;right:45px;font-size:10px;color:#979797}

/* 메세지함 목록 */
.message_sort {padding:13px 16px}
.message_sort a {font-size:12px;display:inline-block;padding:0 13px;margin-right:10px}
.message_sort a.on {color:#88cbde;background:url(../img/icon_sort_on.png)no-repeat left center;background-size:10px 10px}
.message_list .title_sub {display:block;max-height:20px;width:90%}
.message_list .date_txt {display:block;font-size:10px;color:#9e9e9e}
/*.btn_read_all {position:absolute;right:16px;width:60px;font-size:10px;top:50%;margin-top:-14px;border:1px solid #ebebeb;border-radius:4px !important;overflow:hidden;display:inline-block;height:26px;background:#fff;color:#88cbde}*/
.r_memo {color:#909090}

/* 상품 상세 */
.pr_wrap {overflow:hidden;width:100%}
.pr_view_info {padding:20px 16px;background:#fff;border-bottom:1px solid #dbdbdb;margin-bottom:10px}
.pr_view_info .pr_f {overflow:hidden;padding-top:13px}
.pr_view_info .title {font-size:13px}
.pr_view_info #pr_subject_sub {display:block;font-size:11px;color:#797979}

.pr_d span:first-child {width:70px;display:block;font-size:10px}
.pr_d span:last-child {display:block;font-size:8px}
.en_info {padding:0 16px}
.en_info p {font-size:12px}
.en_info .pr_info {padding-top:10px}
.en_info .wr_google_map {color:#797979;font-size:12px}
.en_info .en_loc {padding:23px 0 10px}
.tab_mn li.on a.t_b {border-bottom:3px solid #88cbde}
.pr_view_cont {background:#fff;width:100%}
.pr_tab_pn {margin-bottom:16px;width:100%}
.pr_tab_pn .tab1_pn, .tab2_pn, .tab3_pn {margin-bottom:55px;min-height:380px}
.pr_tab_pn .tab1_pn, .tab2_pn {padding:23px 16px}
.pr_tab_pn .tab2_pn, .tab3_pn {display:none}
.pr_tab_pn .tab3_pn {padding:23px 0}
.pd_view_li {overflow-x:hidden;width:100%}
.pd_view_li li:last-child {border-bottom:none !important}
.pr_btn_wrap {position:fixed;bottom:0;left:0;padding:10px 0;width:100%;z-index:2}
.pr_btn_wrap .pr_btn_p {overflow:hidden;padding:0 18px}
.pr_btn_wrap .pr_btn_p a {display:block;width:47%;color:#fff;text-align:center;padding:8px 0;font-size:12px;border:1px solid #fff;border-radius:4em;overflow:hidden}
.pr_btn_wrap .pr_btn_p a:first-child {float:left}
.pr_btn_wrap .pr_btn_p a:last-child {float:right}

/* 리뷰목록 | 리뷰상세 */
#rv_li .title {max-width:96%}
.tab_sns {display:none;}
#tab_blog,
#tab_sns {padding:12px 0 10px;background:#fff;border-bottom:1px solid #e9e9e9}
.rv_list li .rv_sub_info {padding-top:10px;display:inline-block}
.rv_img img {width:100%;vertical-align:top}
.rv_txt {padding:20px 16px}
.rv_txt p {font-size:12px}
.rv_cont {font-size:11px}
.rv_num_box {padding-left:10px;background:url(../img/icon_bar.png)no-repeat left center;margin-left:8px}
.rv_cmt_list {display:none;border-top:1px solid #efefef}
.rv_cmt_list .comment_li {border-top:none !important}
.rv_btn_b {position:absolute;bottom:0;right:16px;width:118px;height:54px}
.rv_btn_b .btn_l {width:55px;left:0;color:#949494}
.rv_btn_b .btn_r {right:0;width:55px}

/* 리뷰등록 */
.star_wrap {position:relative;height:50px}
.re_star {padding:0 16px;position:absolute;top:50%;margin-top:-10px}
.re_star .star {margin-right:6px;cursor:pointer}
.re_star .star img {width:18px;vertical-align:center}
.rg_title {font-size:11px;text-align:center;padding-top:20px}
.rg_cont {resize:none;height:132px;width:100%;box-sizing:border-box;border:none;padding:13px;font-size:11px}
.rv_select {display:block;height:50px;line-height:50px;font-size:12px;padding:0 10px;width:96%}
.rv_list_blog {display:none}
.rv_list_blog.on {display:block}
#rv_list {margin-top:-11px;margin-bottom:10px;border:1px solid #c6c6c6;border-top:none}
#rv_list li {font-size:12px;padding:0 16px;line-height:40px;height:40px;border-bottom:1px solid #ebebeb}
#rv_list li:last-child {border-bottom:none}
#rv_list li span {display:inline-block;width:96%}

/* 적립금 */
#point_li li:first-child {border-top:1px solid #ebebeb}
#point_li li:last-child {border:none}
.point_info {padding:28px 0;text-align:center}
.point_info .title_sub {font-size:13px;padding-bottom:8px}
.point_info .point_txt {display:inline-block;font-size:26px;color:#ff5a00;padding:0 18px;background:url(../img/icon_point.png)no-repeat left center;background-size:16px}
.point_txt {margin-top:-12px;line-height:24px;font-size:9px;color:#9e9e9e}
.po_info {padding:18px 16px}
.po_info .po_txt {padding-left:64px;position:relative}
.po_info .po_txt p {font-size:12px}
.po_info .po_txt span {display:block;font-size:11px;color:#909090;padding-top:4px} 
.po_info .po_txt .pa_state {font-size:12px;position:absolute;left:0;top:0;color:#88cbde}
.alt_txt {font-size:11px;color:#9e9e9e;text-align:right;padding:10px 16px;}

/* 설정 */
.setting_li ul {background:#fff;padding:0 16px}
.setting_li li {border-bottom:1px solid #ebebeb}
.setting_li li:last-child {border-bottom:none}
.setting_li li .terms_use input[type=checkbox] + label span {top:50%;margin-top:-8px}
.setting_li li a,
.setting_li li p {height:48px;line-height:48px;text-decoration:none;font-size:12px}
.btm_info {padding-top:20px}
#ad_bann img {width:100%}
#version {position:absolute;right:16px;font-size:10px;color:#979797}

















/* edit style */
.notice_conts img,
.comu_conts img {max-width:100%}
#postViewArea {padding:0}
#event_li img {max-width:100%}
.post-view {width:100% !important}


/* 우편검색 */
.zip_wrap {display:none;border:1px solid #909090;width:99%;height:300px;margin:5px 0;position:relative}
.btn_zip_close {cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1}











